projects/12-ai-automation-suite/06-daily-ai-news-digest.json
{
  "name": "Daily AI & Tech News Digest",
  "nodes": [
    {
      "id": "1fafb3be-5754-4d18-b5d4-439377cb2bd7",
      "name": "Every Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        120,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "ed0b8aa4-c5f2-41b9-a64e-806e4e80c3e7",
      "name": "Fetch Hacker News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        340,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hn.algolia.com/api/v1/search?tags=front_page&hitsPerPage=20",
        "options": {}
      }
    },
    {
      "id": "4d82987b-c59e-4861-a33a-92a1b5bb0667",
      "name": "Extract Stories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const hits = ($input.first().json.hits) || [];\nconst stories = hits.slice(0, 20).map(h => ({\n  title: h.title || h.story_title || \"(untitled)\",\n  url: h.url || (\"https://news.ycombinator.com/item?id=\" + h.objectID),\n  points: h.points || 0,\n  comments: h.num_comments || 0\n}));\nreturn [{ json: { stories } }];"
      }
    },
    {
      "id": "2b9c9dc2-6354-4f36-8dd4-862d55cae96c",
      "name": "Curate Digest",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        780,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Today front-page tech stories (JSON):\n{{ JSON.stringify($json.stories) }}\n\nPick the 5 most relevant stories for an AI-first software developer and founder. For each, return the exact title, the url, and a one-sentence \"why it matters\". Also write a short one-line intro for the digest.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a sharp tech-news curator for a busy AI-first builder. Prioritize AI, developer tools, startups and automation. Be concise and useful. Return JSON."
        }
      }
    },
    {
      "id": "b0f627e1-5ee2-4355-ae1d-a6cbf8d5f312",
      "name": "Curator Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        820,
        120
      ],
      "parameters": {}
    },
    {
      "id": "97e0300c-d943-40e2-a703-684de869def7",
      "name": "Digest Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        980,
        120
      ],
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"intro\":\"Here are today top tech stories for builders.\",\"picks\":[{\"title\":\"Story title\",\"why\":\"Why it matters in one sentence.\",\"url\":\"https://example.com\"}]}"
      }
    },
    {
      "id": "b22804fc-617c-4810-be8f-c3fd39b2e44d",
      "name": "Build Digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "d",
              "name": "digest",
              "value": "=# Daily AI & Tech Digest - {{ $now.toFormat(\"MMMM d, yyyy\") }}\n\n{{ $json.output.intro }}\n\n{{ $json.output.picks.map(p => \"## [\" + p.title + \"](\" + p.url + \")\\n\" + p.why).join(\"\\n\\n\") }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "d6358c5b-cdbd-4371-8787-65c87ad2a3a5",
      "name": "Digest to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.digest }}",
        "destinationKey": "html",
        "options": {
          "simplifiedAutoLink": true,
          "simpleLineBreaks": true
        }
      }
    },
    {
      "id": "87290ebd-2b9f-4aa6-a678-e7d6199312b2",
      "name": "Email Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "you@example.com",
        "subject": "=Daily AI & Tech Digest - {{ $now.toFormat(\"MMM d\") }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "webhookId": ""
    },
    {
      "id": "238ad868-919e-4d6f-889f-e9c81aa756ae",
      "name": "Sticky Note 438dc0b4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        70,
        250
      ],
      "parameters": {
        "content": "## Daily AI & Tech News Digest\nEvery morning -> fetch front-page tech stories (Hacker News, no API key) -> an AI curator picks the 5 most relevant for an AI-first builder with a one-line why-it-matters each -> formatted and emailed. Showcases scheduling, API ingestion, structured curation and reporting.",
        "color": 3,
        "width": 520,
        "height": 200
      }
    }
  ],
  "connections": {
    "Every Morning": {
      "main": [
        [
          {
            "node": "Fetch Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hacker News": {
      "main": [
        [
          {
            "node": "Extract Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Stories": {
      "main": [
        [
          {
            "node": "Curate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curate Digest": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curator Model": {
      "ai_languageModel": [
        [
          {
            "node": "Curate Digest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Digest Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Curate Digest",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Digest to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digest to HTML": {
      "main": [
        [
          {
            "node": "Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {}
}
