projects/11-n8n-automation-workflows/04-rag-eval-asystent-wiedzy.json
{
  "name": "RAG + Ewaluacja — Asystent wiedzy (embeddings + LLM-judge)",
  "nodes": [
    {
      "id": "0e023e56-645a-4e54-8db2-df5d51f24dd0",
      "name": "Pytanie (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 112],
      "parameters": { "httpMethod": "POST", "path": "rag-zapytaj", "responseMode": "responseNode", "options": {} },
      "webhookId": "8ccb1ec0-e8f9-4d78-8433-64bfa79f010e"
    },
    {
      "id": "c33781a4-5ec8-4a1d-a2e7-fc0de49c0a33",
      "name": "Zapytanie",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 112],
      "parameters": { "mode": "manual", "includeOtherFields": false, "assignments": { "assignments": [{ "id": "q1", "name": "q", "value": "={{ $json.body?.question ?? $json.question ?? $json.q ?? \"\" }}", "type": "string" }] }, "options": {} }
    },
    {
      "id": "4f659a71-40eb-4e21-a21e-8a1ed0d9fc16",
      "name": "Dokumenty (KB)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 112],
      "parameters": { "mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return [\n{json:{source:'overview', text:'EduAI Asystent to narzedzie dla nauczycieli: generuje plany lekcji, materialy i quizy. Dziala w przegladarce oraz jako dodatek do Google Classroom.'}},\n{json:{source:'cennik', text:'Cennik: plan Szkolny 39 zl za nauczyciela miesiecznie, plan Placowka od 990 zl miesiecznie do 50 nauczycieli. 14 dni darmowego testu bez podawania karty.'}},\n{json:{source:'prywatnosc', text:'Prywatnosc: dane uczniow przetwarzane sa zgodnie z RODO, hosting w Unii Europejskiej (Frankfurt). Danych uczniow nie uzywamy do trenowania modeli AI.'}},\n{json:{source:'integracje', text:'Integracje: Google Classroom, Microsoft Teams oraz Librus. Eksport materialow do PDF, DOCX i arkuszy.'}},\n{json:{source:'wsparcie', text:'Wsparcie: pon-pt 8:00-16:00, czat i e-mail support@eduai.example. Czas reakcji do 24h w dni robocze.'}},\n{json:{source:'bezpieczenstwo', text:'Bezpieczenstwo: logowanie SSO przez Google lub Microsoft, szyfrowanie danych w tranzycie i w spoczynku, role nauczyciel oraz administrator.'}}\n];" }
    },
    {
      "id": "704ba052-9d45-477b-9c50-f6799ac8ce61",
      "name": "Indeksuj wiedze",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [672, 112],
      "parameters": { "mode": "insert", "memoryKey": { "__rl": true, "mode": "id", "value": "eduai-kb" }, "clearStore": true }
    },
    {
      "id": "3889ccae-b13b-4676-ad78-441dd34b5cb5",
      "name": "Embeddings (insert)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [688, 336],
      "parameters": { "model": "text-embedding-3-small", "options": {} }
    },
    {
      "id": "c0e44acd-7458-4f1a-b304-9e219894eb97",
      "name": "Loader dokumentow",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [816, 336],
      "parameters": { "dataType": "json", "jsonMode": "expressionData", "jsonData": "={{ $json.text }}", "textSplittingMode": "simple", "options": {} }
    },
    {
      "id": "f9c9d3d5-be08-4925-b48d-575019fc884c",
      "name": "Przygotuj zapytanie",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1024, 112],
      "parameters": { "mode": "manual", "includeOtherFields": false, "assignments": { "assignments": [{ "id": "q2", "name": "q", "value": "={{ $(\"Zapytanie\").item.json.q }}", "type": "string" }] }, "options": {} },
      "executeOnce": true
    },
    {
      "id": "3c2e4ecf-75d3-45a9-809f-f84117bc3f44",
      "name": "Szukaj w wiedzy",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [1248, 112],
      "parameters": { "mode": "load", "memoryKey": { "__rl": true, "mode": "id", "value": "eduai-kb" }, "prompt": "={{ $json.q }}", "topK": 3, "includeDocumentMetadata": true }
    },
    {
      "id": "c2ef2102-d924-45d4-bfb3-8146ad92eb32",
      "name": "Embeddings (load)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1328, 336],
      "parameters": { "model": "text-embedding-3-small", "options": {} }
    },
    {
      "id": "afbacd96-4861-4a87-96f5-422330e19b72",
      "name": "Zloz kontekst",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 112],
      "parameters": { "mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const docs=$input.all();const q=$('Zapytanie').first().json.q;const parts=[];const sources=[];docs.forEach((d,i)=>{const j=d.json||{};const t=(j.document&&j.document.pageContent)||j.pageContent||j.text||j.content||JSON.stringify(j);const src=(j.metadata&&(j.metadata.source||j.metadata.id))||(j.document&&j.document.metadata&&j.document.metadata.source)||('doc'+(i+1));parts.push('['+(i+1)+'] '+t);sources.push(src);});return [{json:{q:q,context:parts.join('\\n'),sources:sources}}];" }
    },
    {
      "id": "da9eb259-bd28-4502-b9fc-746cdd176fc1",
      "name": "Odpowiedz RAG",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1824, 112],
      "parameters": { "promptType": "define", "text": "=Pytanie: {{ $json.q }}\n\nKontekst (fragmenty bazy wiedzy):\n{{ $json.context }}\n\nOdpowiedz na pytanie WYLACZNIE na podstawie kontekstu powyzej. Jesli kontekst nie zawiera odpowiedzi, napisz dokladnie: \"Nie mam tej informacji w bazie wiedzy.\" Odpowiadaj po polsku, zwiezle." }
    },
    {
      "id": "ffe9fa34-fd85-404d-8fa7-17d97063838d",
      "name": "GPT (odpowiedz)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1904, 336],
      "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-5-mini" }, "options": {} }
    },
    {
      "id": "134569ad-c3a1-4ea6-bdc4-233d9a169080",
      "name": "Ocena LLM-judge",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [2176, 112],
      "parameters": { "promptType": "define", "hasOutputParser": true, "text": "=Jestes audytorem jakosci RAG. Ocen, czy ODPOWIEDZ jest ugruntowana w KONTEKSCIE (nie w wiedzy ogolnej).\n\nPytanie: {{ $(\"Zloz kontekst\").item.json.q }}\n\nKontekst:\n{{ $(\"Zloz kontekst\").item.json.context }}\n\nOdpowiedz: {{ $json.text }}\n\nZwroc: faithfulness (0-1), relevance (0-1), grounded (true/false), hallucination_risk (low/medium/high), reasoning (1 zdanie)." }
    },
    {
      "id": "d752ae0e-f7f5-44e0-b3f9-d282f587bafe",
      "name": "GPT (ocena)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [2192, 336],
      "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-5-mini" }, "options": {} }
    },
    {
      "id": "6b1422c6-7847-4afa-958e-ac8d1516f6e5",
      "name": "Format oceny",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2320, 336],
      "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{ \"faithfulness\": 0.95, \"relevance\": 0.9, \"grounded\": true, \"hallucination_risk\": \"low\", \"reasoning\": \"Odpowiedz w pelni wynika z kontekstu.\" }" }
    },
    {
      "id": "51e8c0e4-f781-452e-9821-b651a2313b43",
      "name": "Odpowiedz (JSON)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2528, 112],
      "parameters": { "respondWith": "json", "responseBody": "={{ { \"answer\": $(\"Odpowiedz RAG\").item.json.text, \"ocena\": $json.output, \"zrodla\": $(\"Zloz kontekst\").item.json.sources } }}", "options": {} }
    }
  ],
  "connections": {
    "Pytanie (webhook)": { "main": [[{ "node": "Zapytanie", "type": "main", "index": 0 }]] },
    "Zapytanie": { "main": [[{ "node": "Dokumenty (KB)", "type": "main", "index": 0 }]] },
    "Dokumenty (KB)": { "main": [[{ "node": "Indeksuj wiedze", "type": "main", "index": 0 }]] },
    "Indeksuj wiedze": { "main": [[{ "node": "Przygotuj zapytanie", "type": "main", "index": 0 }]] },
    "Embeddings (insert)": { "ai_embedding": [[{ "node": "Indeksuj wiedze", "type": "ai_embedding", "index": 0 }]] },
    "Loader dokumentow": { "ai_document": [[{ "node": "Indeksuj wiedze", "type": "ai_document", "index": 0 }]] },
    "Przygotuj zapytanie": { "main": [[{ "node": "Szukaj w wiedzy", "type": "main", "index": 0 }]] },
    "Szukaj w wiedzy": { "main": [[{ "node": "Zloz kontekst", "type": "main", "index": 0 }]] },
    "Embeddings (load)": { "ai_embedding": [[{ "node": "Szukaj w wiedzy", "type": "ai_embedding", "index": 0 }]] },
    "Zloz kontekst": { "main": [[{ "node": "Odpowiedz RAG", "type": "main", "index": 0 }]] },
    "Odpowiedz RAG": { "main": [[{ "node": "Ocena LLM-judge", "type": "main", "index": 0 }]] },
    "GPT (odpowiedz)": { "ai_languageModel": [[{ "node": "Odpowiedz RAG", "type": "ai_languageModel", "index": 0 }]] },
    "Ocena LLM-judge": { "main": [[{ "node": "Odpowiedz (JSON)", "type": "main", "index": 0 }]] },
    "GPT (ocena)": { "ai_languageModel": [[{ "node": "Ocena LLM-judge", "type": "ai_languageModel", "index": 0 }]] },
    "Format oceny": { "ai_outputParser": [[{ "node": "Ocena LLM-judge", "type": "ai_outputParser", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
